body {
  background-color: #4FFED8;
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: #2B97CB;
  font-family: 'Bangers', cursive;
  font-size: 5em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
  width: 100%;
}

form {
  text-align: center;
}

.searchField {
  width: 250px;
  font-size: 1em;
}

#btn {
  background-color: #CB2B3E;
  color: #FFF;
  font-size: 1em;
  margin-left: 10px;
}

/* Float Clears: nicolasgallagher.com/micro-clearfix-hack */
.group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

/* Clearfix */
.group {
  *zoom: 1;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Responsive Images */
img {
  max-width: 100%;
}

.results-container {
  padding: .3em;
  margin: 0 auto;
  text-align: center;
}

.results-container img {
    width: 100%;
}

.results-message {
  padding-bottom: .5em;
}

.img-results {
  padding: .5em; }
  @media screen and (max-width: 32.5em) {
    h1 {
      font-size: 3em;
    }
    .searchField {
      text-align: center;
    }
  }
  @media screen and (min-width: 32.5em) {
    .img-results {
      float: left;
      width: 50%;
      padding: .6em; } }
  @media screen and (min-width: 46.875em) {
    .img-results {
      width: 33.3333333%; } }

.error {
  padding: 1.25em 0;
  text-align: center;
}
